{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-image: url("img/ui/fondo1.png");
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>
{% endblock %}

{% block main %}
    {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} #}
    
    <div class="container">
        <div class="row">
            <div class="col-12">    
                
                <form method="post" class="card mx-auto mt-5" style="max-width: 300px;">
                    <div class="card-body  sombra m-0" >


                        <h1 class="h1 mb-3 font-weight-normal">Ingreso</h1>

                        {% if error %}
                            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    
 
                        <div class="form-group mb-3">
                            <label for="inputEmail">Correo</label>
                            <input 
                                type="email" 
                                value="{{ last_username }}" 
                                name="email"
                                class="form-control form-control-lg" 
                                id="inputEmail" 
                                aria-describedby="emailHelp" 
                                placeholder="mail@dominio.com"
                                required 
                                autofocus
                            >
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>


                        <div class="form-group mb-3">
                            <label for="inputEmail">Contraseña</label>
                            <input 
                                type="password" 
                                value="{{ last_username }}" 
                                name="password"
                                class="form-control form-control-lg" 
                                id="password" 
                                aria-describedby="password" 
                                placeholder="******"
                                required
                            >
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
  
                        <input 
                            type="hidden" 
                            name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                        #}

                            <div class="checkbox mb-1">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Recuerdame
                                </label>
                            </div>

                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </div>
                </form>   
            </div>
        </div>
    </div>


{# {% include "default/nav.html.twig" %} #}

{% endblock %}
